*{
    box-sizing: border-box;
    border:none;
    outline: none;
  }

  body{
    margin: 0;
    background: linear-gradient(25deg, #e91e63, #f44336);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  header{
    position: fixed;
    width:100%;
    text-align: center;
    background-color: #ffffff34;
    backdrop-filter: blur(30px);
    padding: 6px 0;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    word-spacing: 6px;
    box-shadow: 0 5px 14px #0000004f;
    z-index: 10;
  }
  section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    overflow-x: hidden;
  }
  section > div{
    width: 400px;
  }
  section div.inputField{
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 5px 14px #0000004f;
  }
  section div.inputField input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    font-size:22px;
    background:rgb(255, 255, 255);
  }
  section div.inputField input::placeholder{
    font-size: 19px;
    color: rgba(0, 0, 0, 0.39);
  }
  section div button{
    width: 50px;
    background: linear-gradient(25deg, #f44336, #e91e63);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  section div.items-container{
    margin-top: 20px;
  }
  section div.items-container .item{
    height:45px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff69;
    backdrop-filter: blur(30px);
    border-radius: 4px;
    overflow:hidden;
    box-shadow: 0 5px 15px -3.5px #0000004f;
    margin-bottom: 5px;
  }
  section div.items-container .item p{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    margin: auto;
    overflow: auto;
    font-size: 24px;
  }

  /* responsive design */
  @media (max-width:421px){
    header{
      font-size: 17px;
      word-spacing: 2px;
    }
    section{
      padding: 60px 10px;
    }
    section > div{
      width: 100%;
    }
    section div.items-container .item p{
      font-size: 20px;
    }
  }


  /* create some animation */
  .errorAnim{
    animation: move .2s;
  }
  @keyframes move {
    0%{
      margin-left: 0px;
    }
    30%{
      margin-left: -70px;
    }
    60%{
      margin-left:70px;
    }
    100%{
      margin-left: 0px;
    }
  }

  .right{
    animation: moveRight 1s;
  }
  @keyframes moveRight {
    0%{
     transform: translateX(0%);
    }
    60%{
     transform: translateX(20%);
    }
    100%{
     transform: translateX(-500%);
    } 
  }

  
  .left{
    animation: moveLeft 1s;
  }
  @keyframes moveLeft {
    0%{
     transform: translateX(0%);
    }
    60%{
     transform: translateX(-20%);
    }
    100%{
     transform: translateX(500%);
    } 
  }
  

  /* customize a scroll bar */
  ::-webkit-scrollbar{
		height: 10px;
	}
	::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: linear-gradient(25deg, #f44336, #e91e63);
	}